<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>MANTENIMIENTO CURSOS</title>
        <link rel="stylesheet" type="text/css" href="static/css/estilos.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap-icons.min.css">
    </head>
    <body>        
        <div class="container">
            <h1>MANTENIMIENTO CURSOS</h1>   
            <div class="row">
                <div class="col-10 mx-auto">
                    <form th:action="@{buscarCursos}" method="post" >
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr class="table-dark">
                                    <th style="width:30%">TIPO</th>
                                    <th style="width:70%">PARAMETROS</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Consulta por Nombre&nbsp;<input type="radio" placeholder="Nombre Curso" id="tipoConsulta"  name="tipoConsulta" value="LISTARPORNOMBRECURSO" required/>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Nombre Curso" id="nombreCurso1" name="nombreCurso1" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta por Nombre y alumnos minimo&nbsp;<input type="radio" id="tipoConsulta" name="tipoConsulta" value="LISTARPORNOMBRECURSOANDALUMNOSMINIMO" required/>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Nombre Curso" id="nombreCurso2" name="nombreCurso2" />
                                        <input type="number" placeholder="Alumnos Minimo" id="alumnosMinimo" name="alumnosMinimo" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta por Estado&nbsp;<input type="radio" id="tipoConsulta" name="tipoConsulta" value="LISTARPORESTADO" required/>
                                    </td>
                                    <td>
                                        <select id="estado" name="estado">
                                            <option value="-1">-ESTADO-</option>
                                            <option value="0">CREADO</option>
                                            <option value="1">EN PROCESO DE VENTA</option>
                                            <option value="2">COMPLETO</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta Abierto Incompleto&nbsp;<input type="radio" id="tipoConsulta" name="tipoConsulta" value="LISTARABIERTOINCOMPLETO" required/>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta Abierto Incompleto Nativo&nbsp;<input type="radio" id="tipoConsulta" name="tipoConsulta" value="LISTARABIERTOINCOMPLETONATIVO" required/>
                                    </td>
                                    <td>
                                        &nbsp;
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta por Fecha&nbsp;<input type="radio" id="tipoConsulta" name="tipoConsulta" value="LISTARPORFECHA" required/>
                                    </td>
                                    <td>
                                        <input type="date" id="fecha" name="fecha" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta Faltantes&nbsp;<input type="radio" placeholder="Faltantes" id="tipoConsulta" name="tipoConsulta" value="LISTARPORFALTANTE" required/>
                                    </td>
                                    <td>
                                        <input type="number" placeholder="Cantidad Alumnos" id="cantidadAlumnos" name="cantidadAlumnos" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Consulta por Nombre&nbsp;<input type="radio" id="tipoConsulta" name="tipoConsulta" value="LISTARPORNOMBRE" required/>
                                    </td>
                                    <td>
                                        <input type="text" placeholder="Nombre Curso" id="nombreCurso3" name="nombreCurso3" />
                                    </td>
                                </tr>
                                
                                <tr>
                                    <td colspan="2">
                                         <center><input type="submit" class="btn btn-primary"  value="BUSCAR"/></center>
                                    </td>
                                </tr>
                            </tbody>                        
                        </table>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-10 mx-auto">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr class="table-dark">
                                <th>ID</th>
                                <th>NOMBRE CURSO</th>
                                <th>FECHA INICIO</th>
                                <th>ALUMNOS MINIMO</th>
                                <th>ALUMNOS ACTUAL</th>
                                <th>ESTADO</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="curso: ${listaCursos}">
                                <td th:text="${curso.idCurso}"></td>
                                <td th:text="${curso.nombreCurso}"></td>
                                <td th:text="${curso.fechaInicio}"></td>
                                <td th:text="${curso.alumnosMinimo}"></td>
                                <td th:text="${curso.alumnosActual}"></td>
                                <td th:text="${curso.estadoString}"></td>
                            </tr>
                        </tbody>                        
                    </table>
                    <div class="row"> 
                            <div th:if="${mensajeError}" class="alert alert-danger" role="alert">
                                 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                 <center><label th:text="${mensajeError}"></label></center>
                                 <br>
                            </div>
                     </div>
                </div>
            </div>
        </div>
        <script type="text/javascript"  src="static/js/jquery-4.0.0.min.js"></script>
        <script type="text/javascript"  src="static/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript"  src="static/js/popper.min.js"></script>
        <script type="text/javascript"  src="static/js/bootstrap.min.js"></script>
    </body>
</html>